<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/002_Elementare_Abstraktionen"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="App_BankautomatPreChecker_V3.Bankautomat_pre_checker"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="002_Elementare_Abstraktionen"/>
</launchConfiguration>
