<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/l11_2018_02_Elementare_Abstraktionen/src/Bankautomat_pre_checker/Bankautomat_pre_checker.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Bankautomat_pre_checker.Bankautomat_pre_checker"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="l11_2018_02_Elementare_Abstraktionen"/>
</launchConfiguration>
