<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/02_Elemntare_Abstraktion/src/dlg_Mathe_Apps/Dlg_TeilerBestimmung.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dlg_Mathe_Apps.Dlg_TeilerBestimmung"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="02_Elemntare_Abstraktion"/>
</launchConfiguration>
