<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Consoldialog_Teststand_mit_Java1.7/src/testling_mitTestfaellen/Dlg_TestSample.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="testling_mitTestfaellen.Dlg_TestSample"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Consoldialog_Teststand_mit_Java1.7"/>
</launchConfiguration>
