<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/002_Elementare_Abstraktionen/src/dlg_Mathe_Apps/Dlg_Rechner.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dlg_Mathe_Apps.Dlg_Rechner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="002_Elementare_Abstraktionen"/>
</launchConfiguration>
